{% extends "base.html" %}

{% load i18n %}

{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}
<div class="form-container card p-4 shadow">
  <h1 class="sign-in-title">{% trans "Sign In" %}</h1>
  <div class="sign-in-form">
    <p>{% blocktrans %}In order to be able to view and interact with the posts, you are require to login. If you haven't got an account yet, please <a class="link" href="{{ signup_url }}">sign up</a> here.{% endblocktrans %}</p>
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input class="sign-in-fields" type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      
      <button class="sign-in-button" primaryAction" type="submit">{% trans "Sign In" %}</button>
      
    </form>
  </div>
</div>

{% endblock content %}