{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock head_title %}

{% block content %}
<div class="form-container card p-4 shadow">
    <div class="row">
            <h1 class="sign-out-title">{% trans "Sign Out" %}</h1>
            <div class="sign-out-form">
                <p class="sign-out-text">{% trans 'Are you sure you want to sign out?' %}</p>
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button class="btn submit-btn" type="submit">{% trans 'Sign Out' %}</button>
                    <button type="button" class="btn btn-secondary cancel-btn" onclick="window.history.back();">{% trans 'Cancel' %}</button>
                </form>
        </div>
        </div>
   
</div>
{% endblock content %}