body {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 60px 0;
    background-color: rgba(204, 185, 181, 1);
}

a {
    text-decoration: none;
    color: black;
}
/* Navbar*/

.navbar-brand {
    font-weight: 600;
}

/* Styling the homepage*/

.auth-info {
    color: #312F3Cff;
    background-color: rgba(213, 220, 230, 1);

}

.user {
    font-weight: 600;
    text-decoration: underline;
}

.container {
    width: 100%; 
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.hero-container .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.position-relative {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}


.position-relative .blockquote .quote-overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    border-radius: 0 0 10px 10px;
}


.img-fluid {
    border-radius: 10px;
    margin-top: 15px;
}


.hero-content {
    padding: 20px;
    background-color: rgba(99, 113, 162, 0.5);
    border-radius: 20px;
    margin-top: 15px;
}


.blockquote {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0); 
    background: rgba(205, 199, 193, 0.5); 
    color: black;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 600;
    width: 100%; 
    padding: 20px; 
}

.add-post {
    background-color: rgba(99, 113, 162, 1);
    border: none;

} 

.add-post:hover {
    background-color: rgba(49, 47, 60, 1);
} 

/*Like button styling*/

.like {
    color: red;
    border: none;
    background-color: transparent;
}

.unlike{
    color: red;
    border: white;
    background-color: white;
}

/*Swipper styling*/
.swiper-container {
    width: 100%;
    position: relative;
    margin:20px 0;
    
}

.swiper-slide {
    width: 50%;
    padding: 0 20px;
    box-sizing: border-box;
}

.swiper-slide iframe {
    width: 100%;
    height: 300px;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px; 
    height: 30px;
    background-color:rgba(49, 47, 60, 1);
    border-radius: 10%;
    color: white;
    z-index: 10;
}

.swiper-button-prev {
    left: 10px;
}

.swiper-button-next {
    right: 10px;
}


/* Post styling*/

.card-img-bottom {
    width: 200px;
    height: auto;
}


/*Filter styling*/


/* Comment styling*/



/* Styling the Fooer*/

footer{
    position: fixed;
    bottom: 0;

}

@media (max-width: 992px) {
    .hero-container .row {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .hero-content, .position-relative {
        flex: 0 0 100%;
    }
}