{% extends 'base.html' %}
{% load static %}


{% block content %}
<!--Edit a comment form-->
<div class="form-container card p-4 shadow">
  <div class="edit-comment-header flex items-center mb-4">
    <h1>Edit Comment</h1>
    </div>
      <form method="post" enctype="multipart/form-data" class="edit-comment-form">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn submit-btn">Update</button>
          <a href="{% url 'post_detail' pk=post.pk %}" class="btn cancel-btn">Cancel</a>
      </form>
    </div>
</div>
{% endblock %}