{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
    <!--Messages-->
    {% for message in messages %}
        {% if 'general' in message.tags %}
            <div class="alert alert-info">{{ message }}</div>
        {% endif %}
    {% endfor %}
    <!--Comments messages-->
    {% for message in messages %}
    {% if 'comment' in message.tags %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endif %}
    {% endfor %}
    <!--Post-->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title post-title">{{ post.title }}</h5>
                    <p class="card-text">
                        <p class="post-author">by {{ post.author }}</p>
                        <small class="text-muted">on {{ post.created_at|date:"d M Y H:i" }}</small>
                    </p>
                    {% if post.content|urlize %}
                    {% autoescape off %}
                    <p id="post{{ post.id }}" class="card-text urlized-link">{{ post.content|urlize }}</p>
                    {% endautoescape %}
                    {% else %}
                    <p id="post{{ post.id }}" class="card-text">{{ post.content }}</p>
                    {% endif %}
                    {% if post.photo %}
                    <img src="{{ post.photo.url }}" class="card-img-bottom" alt="{{ post.title }}">
                    {% endif %}
                    <!--Like Messages-->
                    {% for message in messages %}
                        {% if 'like-post' in message.tags %}
                            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
                    <!--Post Interaction Area-->
                    {% if user.is_authenticated and user in post.likes.all %}
                    <form id="unlike-form" action="{% url 'like_post' post.id %}" method="post">
                        {% csrf_token %}
                        <a href="{% url 'like_post' post.id %}"><i class="fa-solid fa-heart like"></i>
                            {{ post.likes.count }}</a>
                    </form>
                    {% elif user.is_authenticated %}
                    <form id="like-form" action="{% url 'like_post' post.id %}" method="post">
                        {% csrf_token %}
                        <a href="{% url 'like_post' post.id %}"><i class="fa-regular fa-heart unlike"></i>
                            {{ post.likes.count }}</a>
                    </form>
                    {% else %}
                    <p>Please <a href="{% url 'account_login' %}">log in</a> to like this post.</p>
                    {% endif %}
                    {% if user.is_authenticated and user == post.author %}
                    <a href="{% url 'edit_post' pk=post.pk %}" class="btn btn-sm edit-btn">Edit</a>
                    <button class="btn btn-sm delete-btn"
                        comment_id="{{ comment.id }}">Delete</button>
                    {% else %}
                    <a href="#" class="btn btn-outline-secondary btn-sm disabled" disabled>Edit</a>
                    <button class="btn btn-outline-secondary btn-sm delete-btn disabled" disabled>Delete</button>
                    {% endif %}
                </div>
                {% if post.created_at != post.updated_at %}
                    <small class="text-muted"> Edited on: {{ post.updated_at|date:"d M Y H:i" }}</small>
                {% endif %}
            </div>

            <!--Comment Form-->
            <div class="mt-4">
                {% if user.is_authenticated %}
                <div class="sticky-top">
                    <form id="commentForm" method="post" enctype="multipart/form-data">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button id="submitBtn" type="submit" class="btn btn-lg">Submit</button>
                    </form>
                    {% else %}
                    <p class="mt-4">Please <a href="{% url 'account_login' %}">sign in</a> to comment.</p>
                    {% endif %}
                </div>
            </div>

            <!-- Comments Section -->
            <div class="comments-section mt-4">
                <h5>Comments ({{ post.comments.count }})</h5>
                <hr>
                <!--Comments Display-->
                {% for comment in post.comments.all %}
                <div class="card mb-3">
                    <div class="card-body">
                        <p class="card-text">
                            <p class="post-author">{{ comment.author }}
                                </p>
                            <small class="text-muted" >{{ comment.created_at }}</small>
                        </p>
                        {% if comment.content|urlize %}
                        {% autoescape off %}
                        <p id="comment{{ comment.id }}" class="card-text urlized-link">{{ comment.content|urlize }}</p>
                        {% endautoescape %}
                        {% else %}
                        <p id="comment{{ comment.id }}" class="card-text">{{ comment.content }}</p>
                        {% endif %}
                        {% if comment.photo %}
                        <img src="{{ comment.photo.url }}" class="card-img-bottom" alt="Comment Image">
                        {% endif %}
                        <!--Like Comment Messages-->
                        {% for message in messages %}
                            {% if 'like-comm' in message.tags %}
                                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                        {% if user.is_authenticated and user in comment.likes.all %}
                        <form id="unlike-comment-form" action="{% url 'like_comment' comment.id %}" method="post">
                            {% csrf_token %}
                            <a href="{% url 'like_comment' comment.id %}"><i class="fa-solid fa-heart like"></i>
                                {{ comment.likes.count }}</a>
                        </form>
                        {% elif user.is_authenticated %}
                        <form id="like-comment-form" action="{% url 'like_comment' comment.id %}" method="post">
                            {% csrf_token %}
                            <a href="{% url 'like_comment' comment.id %}"><i class="fa-regular fa-heart unlike"></i>
                                {{ comment.likes.count }}</a>
                        </form>
                        {% else %}
                        <p>Please <a href="{% url 'account_login' %}">log in</a> to like this comment.</p>
                        {% endif %}
                        {% if user.is_authenticated and comment.author == user %}
                        <button class="btn btn-outline-secondary btn-sm edit-comm-btn"
                            comment_id="{{ comment.id }}">Edit</button>
                        <button class="btn btn-outline-secondary btn-sm delete-comm-btn"
                            comment_id="{{ comment.id }}">Delete</button>
                        {% endif %}
                    </div>
                </div>
                {% empty %}
                <p>No comments yet.</p>
                {% endfor %}
            </div>
        </div>
        <!-- Delete post confirmation modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete post?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this post? This action cannot be undone.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <form action="{% url 'delete_post' post.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--Delete Comment Confirmation Modal-->
        <div class="modal" id=delete-modal tabindex="-1" aria-labelledby="delete-modal-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Comment</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this comment?
                            This action is permanent.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button id=confirm-delete type="button" class="btn btn-primary">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}

    {% block extras %}
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/messages.js' %}"></script>
    {% endblock %}
