{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <h1>Forum Rules</h1>
    <ul>
        <li>
            <strong>Follow Guidelines</strong>:
            <p>It's important to ensure safe sleeping practices, including avoiding bed sharing, delaying weaning until after 6 months, and properly securing children in car seats. It's crucial to remain open to feedback about unsafe practices to ensure the safety and well-being of babies.</p>
        </li>
        <li>
            <strong>Opinions are allowed</strong>:
            <p>It is okay to have differing opinions, but debates must be respectful and civil. Rudeness and nastiness will not be tolerated. If consensus cannot be reached, it is best to move on.</p>
        </li>
        <li>
            <strong>No bashing</strong>:
            <p>Let's support all moms, regardless of how they choose to feed their child. We won't shame anyone for their feeding choices, including natural term weaning.</p>
        </li>
        <li>
            <strong>No promotions or spam</strong>:
            <p>Be generous and avoid self-promotion, spam, and irrelevant links or links to other groups.</p>
        </li>
        <li>
            <strong>Discipline</strong>:
            <p>Please refrain from promoting or endorsing any kind of physical punishment, including but not limited to smacking and biting back.</p>
        </li>
        <li>
            <strong>We cannot provide medical advice</strong>:
            <p>If you have any concerns about your child such as rash, marks, high temperature, COVID-19 symptoms, etc., please contact your GP or call 111 if it's out of hours. In case of an emergency, dial 999 for urgent care. Please note that we are not medical professionals or doctors and cannot provide medical advice or assistance.</p>
        </li>
    </ul>
</div>

{% endblock %}
